@import url(https://fonts.googleapis.com/css?family=VT323);

body {
    margin: 0;
    font-family: "VT323", Courier;
    color: #ecbb19;
    background: #252525;
    /* cursor: url(../assets/cursors/cursor.png), auto; */
    font-size: 10px;
    overflow: hidden;
}

* {
    text-shadow: 0 0 1px #ecbb19, 0 0 2px #ecbb18;
}


.loading-wrapper {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}


.loading-wrapper .loading-bar {
    height: 1rem;
    padding: 0.2rem;
    width: 23rem;
    border: 3px solid;
}

.loading-wrapper .loading-bar #progress-bar {
    height: 1rem;
    display: inline-block;
    background: #ecbb19;
    animation: loading 5s;
}

.screen-scanline {
    animation: scan 10s 5s infinite;
    background: -moz-linear-gradient(top, rgba(0, 221, 0, 0) 0%, rgba(236, 187, 25, 1) 50%, rgba(0, 221, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 221, 0, 0) 0%, #ecbb19 50%, rgba(0, 221, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 221, 0, 0) 0%, rgba(236, 187, 25, 1) 50%, rgba(0, 221, 0, 0) 100%);
    display: block;
    height: 20px;
    /* height: 100%; */
    opacity: 0.05;
    position: absolute;
    left: 0;
    right: 0;
    top: -5%;
    z-index: 10;
}


span {
    animation: blink 1s infinite;
}

.frame {
    z-index: 10;
    box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
}

.overlay {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    z-index: 10;
}

.overlay:before {
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
    background-size: 100% 3px, 6px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.overlay:after {
    animation: flicker 0.3s infinite cubic-bezier(0.4, 0, 1, 1);
    background: rgba(16, 16, 16, 0.2);
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}


.clearfix {
    overflow: auto;
    zoom: 1;
}

.content {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

.content .extend-wrapper {
    display: flex;
    justify-content: flex-end;
}

.content .extend-wrapper .extend-logo {
    top: 1rem;
    right: 1rem;
    position: absolute;
    height: 1.8rem;
    fill: #ecbb19;
    cursor: pointer;
}

.content .extend-wrapper .extend-logo:hover {
    scale: 2;
}

.wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.wrapper span {
    animation: blink 1s infinite;
}

.wrapper .header-wrapper,
.wrapper .info-cli-wrapper,
.wrapper .time-wrapper,
.wrapper .about-wrapper {
    text-shadow: 0 0 1px #ecbb19, 0 0 2px #ecbb19;
}

.wrapper .header-wrapper {
    display: flex;
}

.wrapper .header-wrapper .main-logo {
    fill: #ecbb19;
    height: 15vh;
    margin: 1rem;
}

.loading-logo {
    fill: #ecbb19;
    height: 15vh;
    margin: 1rem;
}

.wrapper .info-cli-wrapper {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper .time-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border: 3px solid #ecbb19;
    padding: 1rem;
    font-size: 1.5rem;

}

.wrapper .about-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: 4px solid #ecbb19;
}

.wrapper .project-preview-wrapper {
    display: flex;
    margin: 1rem;
}

.wrapper .project-preview-wrapper .project-preview {
    width: 50%;
    border: 4px solid #ecbb19;
    overflow: hidden;
}

.wrapper .project-preview-wrapper .project-preview:first-of-type {
    margin-right: 20px;
}

.wrapper .project-preview-wrapper .project-preview img {
    height: 250px;
}

.wrapper .project-preview-wrapper .project-preview .content-wrapper {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.wrapper .project-preview-wrapper .project-preview .content-wrapper .picture-preview:hover {
    animation: shake 1600ms ease-in-out infinite alternate;
}

.wrapper .project-preview-wrapper .project-preview .project-preview-header {
    background: #ecbb19;
    color: #252525;
}

.wrapper .project-preview-wrapper .sub-wrapper {
    margin-top: 1rem;
    padding: 0.5rem;
    border-top: 4px solid #ecbb19;
    text-align: center;
}

.wrapper .project-preview-wrapper .sub-wrapper :hover {
    box-shadow: 0 0 3px #ecbb19, 0 0 3px #ecbb19;
    background: #ecbb19;
    color: #252525;
    cursor: pointer;
}



::-moz-selection {
    background: #ecbb19;
    color: #252525;
}

::selection {
    background: #ecbb19;
    color: #252525;
}

/* HEADER */

.company-name {
    font-size: 2.3rem;
}

.software-name {
    font-size: 1.5rem;
}

.security-warning {
    font-size: 1.5rem;
}

.control-tab-wrapper {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-start;
    margin: 1rem;
}

.tab {
    border: .2rem solid;
    padding: .1rem .7rem;
    margin: 0 1rem 0 0;
}

.tab:hover {
    background-color: #ecbb19;
    color: #252525;
}

.tab-body-wrapper {
    margin: 0 1rem;
}

.offline {
    animation: blink 1s infinite;
}


/* shadow elements */

rect {
    box-shadow: 0 0 2px #ecbb19, 0 0 2px #ecbb19;
}


.replicant3d-wrapper {
    position: relative;
    height: 60vh;
    width: 50vw;
}

.replicant-preview-wrapper {
    display: flex;
}

.replicant-info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.replicant-info-wrapper h2 {
    font-size: 2rem;
}

.replicant-table th {
    font-size: 1.6rem;
    width: 9vw;
    letter-spacing: 0.2rem;
}


/* Modal  */

.warning-modal {
    color: #252525;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    background: #ecbb18;
    height: 25vh;
    top: 25vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #ecbb18;
    border-bottom: 19px solid #ecbb18;
    border-left: 6px solid #ecbb18;
    border-right: 6px solid #ecbb18;
}

.modal-content {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #252525;
}

.modal-content .blink-text {
    font-size: 2rem;
}

.view-button {
    font-size: 2rem;
    border: 2px solid;
    padding: .5rem;
    text-decoration: underline;
}

.view-button:hover {
    background-color: #252525;
    color: #ecbb18;
    cursor: pointer;
}

.view-button-custom-hover {
    background-color: #252525;
    color: #ecbb18;
    cursor: pointer;
}


/* Errror messages */

.error-message {
    position: absolute;
}

.error1 {
    top: 20%;
    left: 5%;
    font-size: 1.7rem;
}

.error2 {
    font-size: 1.2rem;
    top: 65%;
    left: 10%;
}


/* Hover 3d model */

.replicant-ui-element {
    position: absolute;
}

.name-info {
    font-size: 2.7rem;
    top: 10%;
    left: 35%;
}

.rep-body-info {
    font-size: 1.2rem;
    top: 60%;
    left: 65%;
    width: 110%;
}

.replicant-status {
    animation: blink 1.4s infinite;
}

/* -- ANIMATION -- */


.scroll-dp {
    animation: scroll-dp 5s 1;
}

/* Loading animation */

@keyframes loading {
    0% {
        width: 2%;
    }

    100% {
        width: 100%;
    }
}

/* Scroll animation */

@keyframes scroll-dp {
    0% {
        height: 0
    }

    100% {
        height: 100%;
    }
}

/* Scanline animation */

@keyframes scan {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

/* Blink animation */

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes linearBlink {
    0% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Random flicker animation */

@keyframes flicker {
    0% {
        opacity: 0.15795;
    }

    5% {
        opacity: 0.9456;
    }

    10% {
        opacity: 0.3233003554;
    }

    15% {
        opacity: 0.492;
    }

    20% {
        opacity: 0.3902;
    }

    25% {
        opacity: 0.89209;
    }

    30% {
        opacity: 0.199;
    }

    35% {
        opacity: 0.001;
    }

    40% {
        opacity: 0.801929;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0.93338;
    }

    55% {
        opacity: 0.32201;
    }

    60% {
        opacity: 0.9183;
    }

    65% {
        opacity: 0.96215;
    }

    70% {
        opacity: 0.48695;
    }

    75% {
        opacity: 0.75749;
    }

    80% {
        opacity: 0.16984;
    }

    85% {
        opacity: 0.9061;
    }

    90% {
        opacity: 0.21467;
    }

    95% {
        opacity: 0.07351;
    }

    100% {
        opacity: 0.3820;
    }
}

@keyframes progressiveDp {
    0% {
        height: 100vh;
    }

    100% {
        height: 0;
    }
}

/* Shaking animation  */
@keyframes shake {

    0%,
    100% {
        transform: translate(-0.41px, 0);
    }

    10% {
        transform: translate(0.91px, 1px);
    }

    30% {
        transform: translate(-1px, 0.5px);
    }

    35% {
        transform: translate(1px, -0.5px);
    }

    50% {
        transform: translate(-0.25px, 1px);
    }
}

/* --- Terminal ---  */
.console-wrapper {
    width: 100%;
    height: 60vh;
    overflow: scroll;
}

.console-subtitle {
    font-size: 1.3rem;
}

.console-input {
    background: transparent;
    border: none;
    display: block;
    float: left;
    font-size: 1.2em;
    position: relative;
    font-family: "VT323", Courier;
    color: #ecbb19;
    z-index: 10;
    font-size: 1.5rem;
}

.input-wrapper {
    display: flex;
    font-size: 1.5rem;
}

.input-cursor {
    width: 4px;
    height: 1.6rem;
    background: #ecbb18;
    animation: blink .8s infinite;
}


/* Remove default outline */
.console-input:focus {
    outline-width: 0;
}


.results-wrapper {
    font-size: 1.5rem;
}

.console-title {
    font-size: 1.7rem;
}

/* Custom terminal scroller */

.console-wrapper::-webkit-scrollbar {
    width: 1em;
}

.console-wrappe::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ecbb18;
    box-shadow: inset 0 0 6px #ecbb18;
}

.console-wrappe::-webkit-scrollbar-thumb {
    background-color: #ecbb18;
    outline: 1px solid #ecbb18;
}

/* Global styles  */


.hideOp {
    opacity: 0;
}

.hideDp {
    display: none;
}